/.idea/
/ApplicationController/target
/ApplicationController/.mvn
/ApplicationController/.gitignore

/ApplicationCore/ApplicationServices/target/
/ApplicationCore/DomainModel/target/
/ApplicationPorts/target/
